@media (min-width: 360px) {
    .projects_container{
        margin-top: 12%;
    }
    
    .card_container {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px; 
        cursor: pointer;
    }
    .details {
        display: flex;
        justify-content: flex-end;
        margin-top: -23px;
    }
  

    .name{
        margin-top: 7px; 
    }
    

   
}

@media (min-width: 800px) {
   .card_container{
    margin-top: 2%;  
    height: 350px; 

   
   }
   
   .projects_container{
    display: grid; 
    grid-template-columns:  auto auto auto; 
    margin-top: 80px;
   }
   
}